*{
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-font-smoothing: subpixel-antialiased;

}
body, html{
width: 100%;
height: 100%;
overflow: hidden;
transition: background-color 1s ease-out;
transition: background-image 1s ease-out;


}
.invisible{
	display: none;
}
h1,h2,h3, p,
.card {
   font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: #000;

}

.card.selected,
.card.clicked.selected{

-webkit-animation:hovercard 1s ease-in-out alternate;
-webkit-animation-iteration-count: infinite;
/*	-webkit-animation:selectcard 0.5s ease-out;	*/
/*	-webkit-transform:translateY(200px) rotateZ(5deg) rotateZ(0deg) translateZ(-350px);*/
/*	box-shadow: 0px 2px 3px rgba(0,0,0,0.3);*/
/*	-webkit-transform:translateY(200px);*/
/*	-webkit-transform: translate3d(0,200px,-200px) rotate3d(1,0,0,-70deg);	*(

	border-color: #afb6bc;
	/*border: 1px dashed #ccc;*/

/*-webkit-transform:rotateX(70deg) rotateY(0deg) rotateZ(0deg) translateZ(-50px) ;*/

}


.card.selected p{
		color: #ccc;
}

@-webkit-keyframes selectcard {

  0% {-webkit-transform:translateY(0px)}
  25% {-webkit-transform:translateY(-10px) translateX(-10px) rotate(-10deg)}
  100% {
  	-webkit-transform:translateY(100px) rotate(10deg);  
  }

 }
@-webkit-keyframes  hidecard { 
  0%{ opacity: 0;}
  100%{ opacity: 0;}  
}
@-webkit-keyframes loadcard {

  0% {opacity: 0; -webkit-transform:translateY(-10px) rotate(10deg) rotateY(90deg) rotateZ(-20deg) scaleY(.9) scaleX(.8) }
  10%{opacity: 1;}
  70%{ -webkit-transform:translateY(20px)}

  99%{

  }
  100% {
  opacity: 1;

  }

 }

@-webkit-keyframes loadcardblank {

  0% {opacity: 0;}
  45% {opacity: 1;}

  100% {}

 } 
 
 
 @-webkit-keyframes fadeout {

  0% {opacity: 1;}
  45% {opacity: 0.4;}

  100% {opacity: 0;}

 } 
 
 .inforounded,
 #show_key{
 	color: #fff;
 	text-transform: capitalize;
	 position: absolute;
	 display: block;
	 width: 160px;
	 height: 160px;

	 box-sizing: border-box;
	 top: 200px;
	 padding: 20px;
	 
	 left: 70px;
	 left: 42%;
	 padding: 10px;	 
	 text-align: center;
	 margin: 0 auto;
	 background: rgba(0,0,0,0.2);
	 z-index: 120;
	 border-radius: 16px;

 }
 
 #show_key{
	 display: none;
 }
 #show_key_btn{
	 display: none;
 }
 


 
 @media screen and (max-device-width: 480px){
/*--- iPhone only CSS here ---*/
	
	.page-control{
		bottom: 10px !important;
	}
	
	.inforounded{
	left: 80px;
	top: 120px;
	
	}
}

.inforounded{
	display: none;
}
 .inforounded p{
	 color: #fff;
	 text-shadow: 0px 1px 2px rgba(0,0,0,0.6);
	 font-size: 18px;
	 margin-top: 10px;

 }
 .card .split{
	 display: inline-block;
	 float: left;
	 height: 20px;
	 width: 100%;
	 margin-bottom: 10px;
	 border-bottom: 1px solid #ccc;
 }
.swipe,
.swipe-right,
.swipe-left,
.swipe-up,
.swipe-down,
.tap,
.arowkeys,
.game_key,
.link,
.cardsleft{
	background-image: url('/img/link.png');
	background-size: 100% 100%;
	background-position: center center;
	width: 74px;
	height: 74px;
	background-size: 74px 74px;		

	margin: 0 auto;
	margin-top: 10px;	
	display: block;
	clear: both;
	text-indent: -9999px;
	overflow: hidden;
	background-repeat: no-repeat;
	
}

.swipe-down{
	background-image: url('/img/swipe-down.png');
	background-size: 74px 74px;	
}
.swipe-up{
	background-image: url('/img/swipe-up.png');
	background-size: 74px 74px;	
}
.swipe-right{
	background-image: url('/img/swipe-right.png');
	background-size: 74px 74px;	
}
.swipe-left,
.swipe{
	background-image: url('/img/swipe-left.png');
	background-size: 74px 74px;	
}
.tap{
	background-image: url('/img/tap.png');
	background-size: 74px 74px;	
}

.link{
	background-image: url('/img/link.png');
	background-size: 74px 74px;			
}
.cardsleft{
	background-image: url('/img/cardsleft.png');
	background-size: 74px 74px;			
}
.arowkeys{
	background-image: url('/img/arrowkeys.png');
	background-size: 74px 74px;		
}
.game_key{
	background-image: url('/img/key.png');
	background-size: 74px 74px;		
}


 
 .card em{
	text-transform: none;
	text-decoration: none;
	font-style: normal;
	font-size: 8px !important;
 }
 
 .card span.new_badge,
 .card em{
	position: absolute;
	background: -webkit-linear-gradient(#3e70f0 0%, #1356e5 81.13%);
	-webkit-transform:rotate(45deg);
	right: -30px;
	top: 10px;
	color: #fff;
	border: 0px solid #1e51c7;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255, 0.3) inset;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.6);
	width: 120px;
	height: 18px;
	padding-top:10px;
	line-height: 10px;
	text-indent: 10px;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
}
.blankcard{
	display: block;
	width: 280px;
	height: 410px;
	margin: 0 auto;
	margin-top: 5%;		
	background: #fff;
	box-sizing: content-box;
	border: 2px dashed rgba(0,0,0,0.1);
	border-radius: 1.2em;
	line-height: 410px;
	text-align: center;
	color: #ccc;
	overflow: hidden;
	-webkit-animation:loadcardblank 0.7s ease-out;			

}

#slider{
	height: 100%;
}

#slider{


}
@-webkit-keyframes hovercard {

  

  20%{
/*	  -webkit-transform: rotateZ(-4deg);*/
  
  }
  40%{
/*	  -webkit-transform: rotateZ(4deg);*/

  }    
  60%{
/*	  -webkit-transform: rotateZ(-4deg);*/
  
  }
  80%{
/*	  -webkit-transform: rotateZ(4deg);*/

  }      
  50%{
	  	  border: 2px solid rgba(27,128,236,0.8);
  }
  


 } 
 
.card.clicked{
	-webkit-animation: none;
}

#slider ul li{

}

h2.header-info{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	padding: 0;
}

/*
#	
#
# !CARD	
#	
#	
*/
.card-wrap{
	width: 100%;
	height: 100%;
}
.card-wrap .card{
	margin: 0 auto;
	margin-top: 4%;
	position: relative;
}
.card{

	border: 2px solid rgba(27,128,236,0.0);
	-webkit-transform-style: preserve-3d;

    -webkit-transform-origin: center center;
    
	/*perspective: 600px;
	position: relative;
	-webkit-perspective-origin: 50% 5%;
	*/
	position: relative;
	
	/*perspective-origin: 20% 10%;*/
	
	-webkit-animation:hidecard 100ms,loadcard 1.2s ease-out;
	-webkit-animation-delay:0ms, 100ms;		
	-webkit-transition: all 0.7s ease-out;		

	display: block;
	width: 280px;
	min-height: 400px;

/*	margin-right: 0%;*/
/*	margin-left: 38%;	*/
	margin: 0 auto;



	margin-top: 5%;		
	background: #fff;
	box-sizing: content-box;
/*	border: 1px solid rgba(0,0,0,0.1);*/
	
	background-image: url('/img/cah-logo.svg'),-webkit-linear-gradient(#ffffff 0%, #f7f7f7 100%);;
	background-position: 10% 98%;
	background-size: 70% auto, 100% 100%;
	background-repeat: no-repeat;
	border-radius: 1.2em;

	box-shadow: 0px 2px 2px rgba(0,0,0,0.3),0px 2px 20px rgba(0,0,0,0.07), 0px 1px 0px rgba(255,255,255,0.1) inset,	0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.02) inset;;
	overflow: hidden;
	box-sizing: border-box;

}
sup{
	font-size: 60%;
}


.nav-panel{
	display: none;
}
/*------------------------------------*\
	IPHONE 5
\*------------------------------------*/
 @media screen and (max-device-width: 480px) and (device-height: 568px){
 

	 .player{
		 margin-top: 50px;
	 }
	 
	 .nav-panel{
		display: block;
		display: none;
		width: 100%;
		height: 40px;
		background: rgba(0,0,0,0.5);
		position: fixed;
		bottom: 0px;
		left: 0px;
		z-index: 100;
	color: #fff;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2), 0px 1px 0px rgba(255,255,255,0.5) inset;
	border-top: 1px solid rgba(0,0,0,0.4);

	background-image: -webkit-linear-gradient(bottom, rgba(68,74,83,0.7) 0%, rgba(43,50,59,0.7) 50%, rgba(54,62,70,0.7) 50%, rgba(106,112,118,0.7) 100%);
		

	}	 
.nav-panel a{
	width: 50%;
	float: left;
	display: block;
	height: 100%;
	text-align: center;
	box-sizing: border-box;
	padding-top: 10px;
	color: #fff;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.4);
	font-size: 24px;
	border-right: 1px solid rgba(0,0,0,0.4);
	box-shadow: 1px 0px 0px rgba(255,255,255,0.4);	
	
	
}
	 
	
 }

/*------------------------------------*\
	IPHONE
\*------------------------------------*/
@media screen and (max-device-width: 480px){
/*--- iPhone only CSS here ---*/
/*
.card{
margin: 20px;
	
}
*/
}

.card.black{
	background-color: #18181b;

	background-image: url('/img/cah-logo-black.svg'),-webkit-linear-gradient(#18181b 0%, #070707 100%);
	background-repeat: no-repeat;	
	background-position: 10% 98%;
	background-size: 70% auto, 100% 100%;;	
	-webkit-font-smoothing: antialiased;	
}
.card.black a{
	color: #fff;
}
.card p.copy,
.card_mini p.copy{
	font-size: 28px;

	float: left;
}
.card p sup,
.card_mini p sup{
	font-size: 20px;
}
.card p small sup,
.card_mini p small sup{
	font-size: 10px;
}
.card p.copy small,
.card_mini p.copy small{
	margin-top: 20px;
	float: left;
	font-size: 14px;
	line-height: 18px;
	
}
.card.black p{
color: #fff;
text-shadow: none;
}

.card p,
.card_mini p,
.card p textarea{
	width: 100%;
	height: 100%;
	padding: 0.5em;
	text-align: left;
	box-sizing: border-box;
	font-size: 30px;
	line-height: 1.2em;
}


.card p .small,
.card p small,
.card.black p small,
.card.black p .small,
.card_mini p small,
.card_mini p .small,
small{
	font-size: 14px !important;

	
}

.card p .small.micro,
.card.black p small.micro{
	font-size: 22px !important;
}

#pickedcards{
	
	background: rgba(0,0,0,0.6);
	display: block;
	width: 100%;
	height: 100%;
/*	z-index: 170;*/
	position:fixed;
	top: 0;
	float: left;
	display: none;
}
#pickedcards a{
	margin: 60px;
	margin-top: 100px;
	padding: 10px;
	float: left;
	border: 1px solid green;
}

@-webkit-keyframes loadpicked {

  0% {opacity: 0;}
  45% {opacity: 1;}

  100% {}

 } 
 

#pickedcards .cards{
	width: 280px;
	margin: 0 auto;
}

#pickedcards .card{
/*-webkit-animation:loadpicked 0.7s ease-out;		*/
-webkit-transition-delay: 0;
position: absolute;
z-index: 110;


}
#pickedcards .card:nth-child(2){
top: 40%;
z-index: 111;
}


#pickedcards.many_cards .card{
-webkit-transform: scale(0.6, 0.6);
}
#pickedcards.many_cards .card:nth-child(2){
top: 18%;
}
#pickedcards.many_cards .card:nth-child(3){
top: 32%;
z-index: 112;
}

.info-panel .text{
	text-shadow: 0px 1px 2px rgba(0,0,0,0.4);
	font-size: 24px;
}


@-webkit-keyframes card-slide-up-complete{
 0% {
-webkit-transform: translate(0px,-500px); 
  opacity: 0;
  }

  100%{
	-webkit-transform: translate(0px,-500px);
	opacity: 0;
  }
}

@-webkit-keyframes card-slide-up-animate {

  0% {
	  opacity: 1;
  }
  60%{
  }
  70% {
  }
  100%{
	-webkit-transform: translate(0px,500px);
	opacity: 0;
  }
}

.card-slide-up{
	-webkit-animation:card-slide-up-animate 0.6s ease-out, card-slide-up-complete 1.0s ease-out !important;
	-webkit-animation-delay: 0s, 0.6s !important;
	-webkit-transform-origin: top center;
}


@-webkit-keyframes card-slide-down-animate {

  0%{
	opacity: 0;
	-webkit-transform: translate(0px,-500px);

  }

  60%{
	  -webkit-transform: translate(0px,10px);
	  opacity: 1;
   }
  70% {
  }

}

#pickedcards .card{
	-webkit-animation:card-slide-down-animate 0.3s ease-out !important;
	-webkit-transform-origin: top center;
}


@-webkit-keyframes positiontop {
  0% {
	  margin-top:-100px;
	  opacity: 0;	  
  }	
  100% {
	  margin-top:-100px;
opacity: 0;	  
  }	  
}
@-webkit-keyframes info-slidedown {

  0% {
/*  margin-top: -100px;*/
	-webkit-transform: scale3d(0, 0.1);
	/*-webkit-transform-origin-y: -100px;*/
	-webkit-transform: translate(0px,-100px);
	/*margin-top: -200px;*/
	opacity: 0;
  }
  60%{
/*	  	-webkit-transform: scaleY(1.4);	  */
  }
  70% {
/*	-webkit-transform: scaleY(0.8);	 */
  }
  80%{
/*	-webkit-transform: scaleY(1.1);	 	  */
  }
  
  90%{
/*	-webkit-transform: translate(0px,5px);	*/

  }

  100% {}

 } 
 
 
 @-webkit-keyframes animate-glow {

  0% {
  }
  50%{
	  -webkit-transform: scale3d(1.1, 1.1, 1);

	  text-shadow: 0px 1px 10px rgba(255,255,255,0.8), 0px 1px 20px rgba(255,255,255,0.8);
  }
  
}
.glow{
	-webkit-animation:animate-glow 0.4s ease-out;
	-webkit-transform-origin: center center;
	
}

.info-panel{
	-webkit-animation:positiontop 200ms ease-out, info-slidedown 0.4s ease-out;		
	-webkit-animation-delay: 0ms, 200ms;

   	-webkit-transform-origin: top left;
   	margin-top: 0px;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 50px;
	z-index: 103;
/*	background: rgba(0,0,0,0.5);*/
	color: #fff;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2), 0px 1px 0px rgba(255,255,255,0.5) inset;
	border-top: 1px solid rgba(0,0,0,0.4);
	border-bottom: 1px solid rgba(0,0,0,0.4);	
	/*background-image: linear-gradient(bottom, rgb(68,74,83) 0%, rgb(43,50,59) 50%, rgb(54,62,70) 50%, rgb(106,112,118) 100%);*/
	background-image: -webkit-linear-gradient(bottom, rgba(68,74,83,0.7) 0%, rgba(43,50,59,0.7) 50%, rgba(54,62,70,0.7) 50%, rgba(106,112,118,0.7) 100%);

}

.info-panel .navigation-button{
	background-image: -webkit-linear-gradient(bottom, rgba(68,74,83,0.7) 0%, rgba(43,50,59,0.7) 50%, rgba(54,62,70,0.7) 50%, rgba(106,112,118,0.7) 100%);
	margin-top: 8px;	
	margin-left: 6px;
	box-sizing: border-box;
	padding: 11px;
	height: auto;
	box-sizing: border-box;
	line-height: 10px;
}
.info-panel p{
	color: #fff;
	text-shadow: none;
	float: left;
	width: 25%;
	margin-top: 15px;
}

.card_icon{
	background-image: url('/img/cards_icon.png');
	background-size: 32px 32px;
	padding-left: 34px;
	background-repeat: no-repeat;
	
}
.point_icon{
	background-image: url('/img/points_icon.png');
	background-size: 32px 32px;
	padding-left: 34px;
	background-repeat: no-repeat;
}

.pick_two{
	position: absolute;
	bottom: 25px;
	right: 12px;
	color: #fff;

}
.pick_two .tx{
	float: left;
	padding-top: 4px;
	margin-right: 4px;
	text-transform: uppercase;
	font-size: 16px;
}
.pick_two .count{
	background: #fff;
	color: #000;
	float: right;
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	width: 24px;
	height: 24px;	
	line-height: 24px;
}

.cardcount,
.count{
	width: 30px;
	height: 30px;
	display: block;
	background: #000;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	padding: 0;
	margin: 0;
	color: #fff;
	border-radius: 30px;
	box-sizing: border-box;
}

.info-panel .cardcount{
	position: absolute;
	top: 10px;
	right: 10px;
}

.button{
		-webkit-transition: all 0.7s ease-out;		
}

#playhand.disabled,#playhand.disabled:active{
	color: #1f5e19;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #0D9D23), color-stop(0.5, #0EB81C), color-stop(0.5, #41BF4A), color-stop(1, #9EC699) );	
	text-shadow: 0px 1px 0px rgba(255,255,255,0.4);
	color: rgba(0,0,0,0.6);
	box-shadow: 0px 20px 50px rgba(0,80,0,0.3) inset;
}


#slider,.cahapp{
	height: 100%;
}

.page-control{
	position: absolute;
	top: 500px;
}
.page-control li.active{
background: rgba(0,0,0,0.6);
}
.page-control li{
background: rgba(0,0,0,0.1);
box-shadow: 0px 1px 0px rgba(255,255,255,0.3);
margin-right: 6px;
}

.copyright.footer{
	-webkit-transition: all 0.5s ease-out;		
	position: absolute;
	text-align: center;
	width: 100%;
	padding-bottom: 20px;
	z-index: 109;
	bottom: -0px;

	opacity: 0.5;

}
.copyright.footer:hover{
	opacity: 1;
}


.copyright.footer.hidden{
	-webkit-transition: all 0.5s ease-out;		
	bottom: -120px;
	opacity: 0;
	display: block !important;
}
.spinner .copyright.footer{

		bottom: -0px;
		opacity: 1;

}

.spinner .copyright.footer p,
.spinner .copyright.footer a{
	color: #fff;
}
.copyright.footer a{
	color: #000;
}
.copyright.footer p{
	padding-top: 12px;
		font-size: 10px;
	text-shadow: none !important;		
}

@media screen and (max-device-width: 480px){
.copyright.footer{
	display: none;
	
}
}

.spinner .spinner-block{
	opacity: 1;
}



.cahapp{
	z-index: 20;
	width: 100%;
	height: 100%;
	position: absolute;
}

.spinner-block,
.overlay-block{
	transition: all 0.5s ease-out;
	opacity: 0.0;
	position: absolute;
	top:0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	padding-bottom: 200px;
	transition: background-color 1s ease-out;
	transition: background-image 1s ease-out;
	background-image: url('/img/spinner_192.gif');
/*
	background-image: url('/img/spinner_192_w.gif');
	background-color: #000;*/
	background-repeat: no-repeat;
	background-position: center 30%;
	background-size: 48px 48px;
}

.overlay-block{
	background-image: none;
	opacity: 1;
	z-index: 110;
	background: rgba(0,0,0,0.8);
	display: none;

}
.overlay-block .wrapper{
	width: 50%;
	min-width: 310px;
	padding-top: 10px;
	padding: 10px;
	margin: 0 auto;
	color: #fff;
	text-align: left;
	padding: 10px;	

}
.overlay-block .wrapper h1{
	font-size: 32px;
	text-align: left;
	margin-bottom: 20px;
}
.overlay-block .wrapper ol li{
	margin-bottom: 0px;
	float: left;
	clear: both;
	vertical-align: middle;
	line-height: 64px;
}
.overlay-block .wrapper h1, 
.overlay-block .wrapper p{
	color: #fff;
} 

.olicon {
	width: 42px;
	height: 44px;
	margin-right: 10px;
	display: inline-block;

	background-repeat: no-repeat;
	background-size: 48px 48px;
	vertical-align: middle;
	background-position: top center;
}
.addhome{
	background-image: url('/img/addhome.png');
}

.icocards{
	background-image: url('/img/card.png');
}
.friends{
	background-image: url('/img/friends.png');
}
.device{
	background-image: url('/img/device.png');
}

/*
.card:before, .card:after
{
	position: absolute;
	width: 40%;
	height: 20px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
}
.card:after
{
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}

*/

#key-block{
	display: block;
	
	
}
#key-block .wrapper{
	background: rgba(0,0,0,0.4);
	box-shadow: 0px 1px 0px rgba(255,255,255,0.2) inset, 0px 2px 8px rgba(0,0,0,0.5);
	border: 1px solid rgba(0,0,0,.3);
	margin-top: 5px;
	margin-top: 20%;	
	border-radius: 14px;
	padding: 0;
	padding: 8px;
	box-sizing: border-box;
	max-width: 380px;
	min-width: 300px;		



}
#key-block .wrapper input{
	background-image: url('/img/key-mini.png');
	background-repeat: no-repeat;
	background-position: 24% 45%;
	background-size: 32px 32px;	

	-webkit-appearance: none;
	width: 100%;

	border: none;
	box-shadow: 0px 1px 6px rgba(0,0,0,0.4) inset,0px -1px 0px rgba(0,0,0,0.2);
	border-radius: 8px;
	box-sizing: border-box;
	font-size: 24px;
	margin-bottom: 5px;
	padding: 8px;
	text-align: center;
   font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: #000;	
   	z-index: 9;
   	position: relative;

}

#key-block .wrapper input:disabled{
		color: #ccc;
		opacity: 1;
}

#key-block .wrapper input.locked{

	background-image: url('/img/lock.png');
	background-repeat: no-repeat;
	background-position: 30% 45%;
	background-size: 32px 32px;
}
#key-block .wrapper input.key{
	background-image: url('/img/key-mini.png');
	background-repeat: no-repeat;
	background-position: 10px 45%;
	background-size: 32px 32px;	
}

#key-block .wrapper input.connection_error{

	background-image: url('/img/connectionerror.png');
	background-repeat: no-repeat;
	background-position: 30% 45%;
	background-size: 32px 32px;
}



#key-block .wrapper a{

	display: block;
	text-align: center;	
	margin-bottom: 0px;
}
#key-block .wrapper .button-inset{
	width: 100%;
	margin-left: -4px;
	margin-bottom: 5px;
}
#key-block .wrapper .button-inset:last-child{
	margin-bottom: 0px;
}




.input_container{
	position: relative;
	display: block;

}
.input_container .loading{
	display: none;
	position: absolute;
	right: 8px;
	top:12px;
	z-index: 10;
	box-sizing: border-box;
}
.loading{

	width: 22px;
	height: 22px;
	background-size: 32px 32px; 
	background-size: 100% 100%; 	
	background-repeat: no-repeat;
	display: block;
	background-image: url('/img/spinner_192.gif');
}

.development-header{
	width: 100%;
	height: 28px;
	position: absolute;
	top:0px;
	padding-top: 5px;
	text-shadow: 0px 1px 0px rgba(255,255,255, 0.3);
	color: #522506;
	background-image: url('/img/development.png');
	text-align: center;
	box-sizing: border-box;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.4), 0px 1px 0px rgba(255,255,255, 0.3) inset;
	background-size: 28px 28px;
	z-index: 150;
}



#slider ul{
	height: 100%;

}

#current_czar_card{
	position: absolute;
/*	bottom: -120px;*/
	z-index: 40;
	bottom: 0; 
	pointer-events: none;
	width: 100%;
	float: left;
/*	-webkit-transform: scale(0.4, 0.4);*/
	display: none;
}
#current_czar_card.size_1{
	z-index: 100;
	bottom: -100px;
}
#current_czar_card .card.black.mini{
	margin: 0 auto;

	-webkit-transform: scale(0.7, 0.7);	
}
#player_cards_slider{
	bottom: 0px;
	width: 100%;
	display: none;
	height: 100%;	
	z-index: 100;

	position: absolute;
	
/*	border: 1px solid red;*/

}
#player_cards_slider ul{

}
#player_cards_slider ul li{

}

#player_cards_slider .mini_wrap{
	width: 320px;
	margin: 0 auto;
	height: 100%;
	display: block;
	padding-top: 40px;	


}
#player_cards_slider .card.mini,
#czar_card .card.mini{

	top: 0px;
	-webkit-transform-origin: top left;
	box-sizing: content-box;
	z-index: 120;
	-webkit-transition: all 0.7s ease-out;			
	-webkit-transition-delay: 200ms;
	-webkit-animation:scale_selected_down 2s ease-in-out alternate;	
	-webkit-animation:none 2s ease-in-out alternate;	
	float: left;
	



}

#player_cards_slider .mini_wrap.size_2{


}
#player_cards_slider .size_1 .card.mini:nth-child(1){
	-webkit-transform: scale(.7, .7) translate(85px, 10px);
	
}

#player_cards_slider .card.mini:nth-child(1){
	-webkit-transform: scale(0.4, 0.4) translate(10px, 10px);
}
#player_cards_slider .card.mini:nth-child(2){

	-webkit-transform: scale(0.4, 0.4) translate(-300px, -410px);	
	-webkit-transform: scale(0.4, 0.4) translate(270px, -1040px);		
	z-index: 121;
}
#player_cards_slider .card.mini:nth-child(3){
	-webkit-transform: scale(0.4, 0.4) translate(-300px, 10px);
	-webkit-transform: scale(0.4, 0.4) translate(400px, -1010px);			
	-webkit-transform: scale(0.4, 0.4) translate(270px, -1040px);			
	z-index: 122;	
}
@-webkit-keyframes scale_selected_down {

  
  0% {

  	opacity: 0; 

  	-webkit-transform: scale(.7, .7) translate(0px,500px)  rotateX(10deg)  rotateZ(-20deg) translateY(-10px);  	
  }
  10%{opacity: 1;}
  50%{
	   -webkit-transform:rotateZ(-5deg) scale(.4, .4) translateX(-90px);
	   
  }
  60%{
	  
	   
  }  

  70%{ 
  	-webkit-transform:translateX(100px) scale(.4, .4) rotateZ(-4deg);
	  
  }
  80%{
  	-webkit-transform:translateX(20px) scale(.4, .4) rotateZ(10deg);	  
  }  

  99%{

  }
  100% {
  opacity: 1;

  }  
}


.card .serial{
	font-size: 9px;
	position: absolute;
	bottom: 32px;
	right: 15px;
	text-align: right;
	width: 160px;
}
.card.black .serial{
	color: #fff;
}

#czar_card.hidden{
	opacity: 0;
}

#czar_card{
	-webkit-transition: all 0.7s ease-out;		
	position: absolute;
	bottom: 60px;
	left: 0px;
	display: none;
	z-index: 171;
	width: 150px;
	height: 150px;	
}
#czar_card .card.black{
	-webkit-transform: scale(0.4, 0.4) translate(10px, 0px) rotateZ(-5deg);	
	-webkit-transition: all 0.7s ease-out;			
	-webkit-transition-delay: 0ms;
	-webkit-animation:move_czar_up 0.7s ease-in-out alternate;		
}

@-webkit-keyframes move_czar_up {

  
  0% {
	-webkit-transform: scale(0.8, 0.8) translate(30px, 1800px) rotateZ(10deg);	
  	opacity: 0; 
  }
  10%{opacity: 1;}
  50%{
	-webkit-transform: scale(0.4, 0.4) translate(10px, 1200px) rotateZ(10deg);	  

  }  
  100% {
  opacity: 1;

  }  
}


.portrait {
/*
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: 200px 190px;
    */
    
}
.portrait-onready {
/*
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: 165px 150px;
    */
}

.card .pickcard{
	display: block;
	width: 40px;
	height: 40px;
	position:absolute;
	bottom: 80px;
	right: 100px;
	background-color: rgba(0,0,0,0.2);
	padding: 20px;
	z-index: 120;
	text-align: center;
/*	border: 2px solid rgba(0,0,0,0.1);*/

	border-radius: 10px;
	color: #fff;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.2);
		background-image: url('/img/tap.png');
	background-size: 42px 42px;	
	overflow: hidden;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: center center;
}

/* Button style */
.card .pickcard{
	display: block;
	width: 40px;
	height: 40px;
	position:absolute;
	bottom: 80px;
	right: 100px;

	padding: 20px;
	z-index: 120;
	text-align: center;
/*	border: 2px solid rgba(0,0,0,0.1);*/

	border-radius: 10px;
	color: #fff;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	background-image:url('/img/tap.png'),-webkit-linear-gradient(#3E70F0  0%, #1356E5 100%) ;
	border: 1px solid rgba(0,0,0,0.2) inset;
	box-shadow: 0px 2px 7px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,.4) inset;
	background-size: 42px 42px, auto;	
	overflow: hidden;
	text-indent: -9999px;
	background-repeat: no-repeat, no-repeat;
	background-position:center center, left top;
	border-radius: 16px;	
}
.card .pickcard:active{
	box-shadow: 0px 1px 2px rgba(0,0,0,0.4), 0px 1px 0px rgba(255,255,255,.4) inset, 0px 2px 20px rgba(0,0,0,0.3) inset;	
}

.bring_to_front{
	z-index: 172!important;
	-webkit-transform: scale(1, 1) translate(0,-10px) !important;
	-webkit-transform-origin: top center;
	-webkit-transition: all 0.5s !important;
}

#czar_card.bring_to_front .card.black{
	-webkit-transform: scale(1, 1) translate(20px,-300px) !important;	
}